# Build & system
bin/
obj/
.vscode/
.idea/
.DS_Store
*.log
*.sqlite
*.db
*.pdb
*.ipynb
*.trn
*.nupkg
*.shm
*.wal

# User settings & temp
*.user
*.suo
*.history
.history/
.ipython/
.local/
.nuget/
node_modules/
*.log
ServiceHub/
.env
*.bak
*~$.DS_Store
*.log
*.db
*.sqlite
*.shm
*.wal
/node_modules
.nuget/
.ServiceHub/
